# Mongo
MONGO_URI=mongodb://user:pass@127.0.0.1:27017/?authSource=admin
DB_NAME=your_database
COLLECTION_NAME=your_collection
BATCH_SIZE=5000

# Export
EXPORT_FORMAT=jsonl
LOCAL_OUTPUT_DIR=./exports
FILE_PREFIX=export

# GCS
GCS_BUCKET=your_bucket
GCS_PREFIX=exports/daily
# Set GOOGLE_APPLICATION_CREDENTIALS in your environment to a service account JSON key

# BigQuery
BQ_PROJECT=your_project_id
BQ_DATASET=raw_layer
BQ_TABLE=summary
BQ_GCS_URI=gs://your_bucket/exports/your_file.jsonl
BQ_WRITE_DISPOSITION=WRITE_APPEND 

    gcloud compute ssh instance-20250824-114705 --zone us-central1-c -- -f -N -L 27018:127.0.0.1:27017